*{
  font-family: Lamoon ;
}
#root{
  background-color: #CDD4E2 ;
}
.nav-bg{
  background-color: #00296B;
}
.nav-link a{
  color : #fff;
  font-size: 20px;
}
#btn-nav a{
  background-color: #fff;
  color: #00296B;
  padding: 7.5px;
  border-radius: 20px;
}
#btn-nav a:hover{
  background-color:#00296B;
  color: #fff;
}
.nav-link a:hover{
  color : #fff;
  text-decoration: none;
}
.logo-brand img{
  height : 50px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navbar-toggler {
  border: 1px solid rgba(255, 255, 255) !important;
}

.user-dropdown{
  background-color: #fff !important;
  border-radius: 20px !important;
  padding: 5px !important;
}



 /* end nav  */



.home{
  color: #00296B;
}
.home .row img {
  width: 60%;
  height: 150px;
}
.home .row p {
  font-size: 20px;
}
 /* end home  */

.howto {
  color: #00296B;
  background-color: #CDD4E2;
  border-radius: 20px;
}
.howto1{
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
}
.howto2{
  background-color: lightgray;
  border-radius: 20px;
  margin-top: 10px;
}
.howto3{
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
}
.howto4{
  background-color: lightgray;
  border-radius: 20px;
  margin-top: 10px;
}

 /* end howto  */

.login{
  color : #00296B;
}
.register{
  color: #00296B
}
.logo-center{
  text-align: center;
}
.aboutus1{
  font-size: 50px;
  font-weight: bold;
  color: #00296B;
}
.aboutus h3{
  color: #00296B;
}
.bgaboutus{
  background-color: #fff;
  border-radius: 10px;
}
.btn-aboutus .btn-lg{
  background-color: #00296B;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 10px;
}

/* end aboutus */

.profile{
  color : #00296B
}

.profile-info{
  background-color: #fff;
  border-radius: 20px;
}
.profile .btn-profile{
  background-color: #00296B;
  color: #fff;
  font-size: 18px;
  padding: 3px 20px;
  border-radius: 10px;
}
.profile .profile-info .profess{
  border : 1px solid #00296B;
  padding: 2px 15px;
}
.profile .tester{
  text-align: -webkit-center;
}
.profile .testing{
  width: 80%;
}



.Footer{
  background-color: #00296B;
  color: #fff;
}
.Footer h2{
  font-size: 25px;
}
.Footer h3{
  font-size: 20px;
}
.btn-Footer .btn-lg{
  background-color: #fff;
  color: #00296B;
  font-weight: bold;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 10px;
}
.Footer p{
  color: #fff;
}
.Footer a:hover{
  text-decoration: none;
}
.textfooter p{
  color: #fff;
}

