* {
  font-family: Lamoon;
}
#root {
  background-color: #cdd4e2;
}
.nav-bg {
  background-color: #00296b;
}
.nav-link-img {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.nav-link a {
  color: #fff;
  font-size: 20px;
}
#btn-nav a {
  background-color: #fff;
  color: #00296b;
  padding: 7.5px;
  border-radius: 20px;
}
#btn-nav a:hover {
  background-color: #00296b;
  color: #fff;
}
.nav-link a:hover {
  color: #fff;
  text-decoration: none;
}
.logo-brand img {
  height: 50px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navbar-toggler {
  border: 1px solid rgba(255, 255, 255) !important;
}

.user-dropdown {
  background-color: transparent !important;
  padding: 5px !important;
  border-radius: 20px !important;
  border: 1px solid #fff !important;
}
.user-dropdown img {
  padding: 3px !important;
}

/* end nav  */

.home {
  color: #00296b;
}
.home .row img {
  width: 60%;
  height: 150px;
}
.home .row p {
  font-size: 20px;
}
.home .section2 img {
  width: 100%;
  height: 70%;
}
.home .section2 .logo-second {
  width: 30%;
}
.home .section2-right {
  background-color: #fff;
  border-radius: 10px;
}
.home .section2-right h2 {
  font-weight: bold;
  font-size: 40px;
}
.home .section2-right img {
  width: 5%;
}
.home .section2-right .correct h3 {
  font-size: 20px;
}
/* end home  */

.login .in-login {
  background-color: #fff;
  border-radius: 20px;
  color: #00296b;
}
.login .in-login h1 {
  font-weight: bold;
  font-size: 50px;
}
.login input {
  border-radius: 10px;
}
.login button {
  background-color: #00296b;
  color: #fff;
  font-size: 25px;
  padding: 5px 15px;
  border-radius: 10px;
}
.login button:hover {
  background-color: #fff;
  color: #00296b;
}
.login a {
  color: #00296b;
}

/* end login */

.register .in-register {
  background-color: #fff;
  border-radius: 20px;
}
.register button {
  background-color: #00296b;
  color: #fff;
  font-size: 25px;
  padding: 5px 15px;
  border-radius: 10px;
}

.howto {
  color: #00296b;
  background-color: #cdd4e2;
  border-radius: 20px;
}
.howto1 {
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
}
.howto2 {
  background-color: lightgray;
  border-radius: 20px;
  margin-top: 10px;
}
.howto3 {
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
}
.howto4 {
  background-color: lightgray;
  border-radius: 20px;
  margin-top: 10px;
}

/* end howto  */

.login {
  color: #00296b;
}
.register {
  color: #00296b;
}
.logo-center {
  text-align: center;
}
.aboutus1 {
  font-size: 50px;
  font-weight: bold;
  color: #00296b;
}
.aboutus h3 {
  color: #00296b;
}
.bgaboutus {
  background-color: #fff;
}
.btn-aboutus .btn-lg {
  background-color: #00296b;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 10px;
}

/* end aboutus */
.registerfreelance {
  color: #00296b;
}
.registerfreelance .profile {
  background-color: #cdd4e2;
  border-radius: 20px;
}
.registerfreelance h2 {
  font-size: 50px;
  font-weight: bold;
  color: #00296b;
}
.registerfreelance .in-registerfreelance {
  background-color: #fff;
  border-radius: 20px;
}
.registerfreelance h3 {
  color: #00296b;
}
.registerfreelance .id-card {
  background-color: #cdd4e2;
}
.picregisfl1 {
  width: 5%;
}
.btn-regisfl {
  background-color: #00296b;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 10px;
}
.regisfl2 {
  background-color: #00296b;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 10px;
}

.fileContainer p {
  display: none;
}
/* end registerfreelance */

.profile {
  color: #00296b;
}
.profile .profile-info {
  background-color: #fff;
  border-radius: 20px;
}
.profile .profile-info button {
  background-color: #00296b;
  color: #fff;
  font-size: 15px;
  padding: 5px 30px;
  border-radius: 10px;
}
.profile .profile-info .profess {
  border: 1px solid #00296b;
  padding: 3px 20px;
}
.profile .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: fill;
}
.profile .allwork .like-price {
  padding: 0;
}

/* end profile */

.uploadwork {
  color: #00296b;
}
.uploadwork .in-uploadwork {
  background-color: #fff;
  border-radius: 20px;
}
.uploadwork label {
  font-size: 25px;
}

/* end uploadwork */

.editprofile {
  color: #00296b;
}
.editprofile .container .row {
  background-color: #fff;
  border-radius: 20px;
}
.editprofile input {
  border-radius: 20px;
}
.editprofile select {
  border-radius: 20px;
}
.editprofile textarea {
  border-radius: 20px;
}
.editprofile .formright {
  border-left: #cdd4e2 1px solid;
}
.editprofile .upload-profile-pic {
  background-color: #cdd4e2;
  border-radius: 20px;
}
.editprofile .upload-profile-pic .fileContainer {
  background-color: #cdd4e2;
}
.editprofile .formright label {
  font-size: 25px;
}
.editprofile .btn-editprofile button {
  background-color: #00296b;
  color: #fff;
  font-size: 20px;
  padding: 5px 5px;
  border-radius: 10px;
}

/* end editprofile */
.working {
  color: #00296b;
}
.working .container .carousel {
  border-radius: 20px;
}
.working .container .carousel img {
  height: 400px;
  width: 100%;
  border-radius: 20px;
}
.working .container .img-working-small .col {
  padding: 0;
}
.working .container .working-small img {
  border-radius: 10px;
}
.working .container .img-working-small {
  padding: 2px !important;
}
.working .working-left {
  background-color: #fff;
  border-radius: 20px;
}
.working h2 {
  font-size: 45px;
  font-weight: bold;
}
.working h3 {
  font-size: 35px;
}
.working p {
  font-size: 20px;
}
.working .working-left strong {
  font-size: 20px;
}
.working .working-left .comment {
  background-color: #cdd4e2;
  border-radius: 20px;
}
.working .working-right {
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid #00296b;
}

.Footer {
  background-color: #00296b;
  color: #fff;
}
.Footer h2 {
  font-size: 25px;
}
.Footer h3 {
  font-size: 20px;
}
.btn-Footer .btn-lg {
  background-color: #fff;
  color: #00296b;
  font-weight: bold;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 10px;
}
.Footer p {
  color: #fff;
}
.Footer a:hover {
  text-decoration: none;
}

.Sidebar {
  width: 250px;
  height: 100%;
  background: #fff;
}

.Sidebar .text {
  color: #00296b;
  font-size: 40px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #fff;
  letter-spacing: 1px;
}

.Sidebar ul {
  background: #fff;
  height: 100%;
  width: 100%;
  list-style: none;
}
.Sidebar ul li {
  line-height: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.Sidebar ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.Sidebar ul li a {
  position: relative;
  color: #00296b;
  text-decoration: none;
  font-size: 18px;
  padding-left: 5px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
.Sidebar ul li a:hover {
  background: #cdd4e2;
  border-left-color: #00296b;
}
